* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: medium none;
    list-style: none
}
@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot?vf49qs');src:url('../fonts/icomoon.eot?#iefixvf49qs') format('embedded-opentype'),
url('../fonts/icomoon.woff?vf49qs') format('woff'),
url('../fonts/icomoon.ttf?vf49qs') format('truetype'),
url('../fonts/icomoon.svg?vf49qs#icomoon') format('svg');
font-weight:normal;
font-style:normal
}
[class^="icon-demo-"],
[class*=" icon-demo-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon_demo {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 35px
}
.icon-demo-images:before {
    content: "\e90e"
}
.icon-demo-mobile:before {
    content: "\e958"
}
.icon-demo-zoom-in:before {
    content: "\e987"
}
.icon-demo-accessibility:before {
    content: "\e9b2"
}
.icon-demo-happy:before {
    content: "\e9df"
}
.icon-demo-apple:before {
    content: "\eabf"
}
.icon-demo-android:before {
    content: "\eac1"
}
.icon-demo-windows8:before {
    content: "\eac3"
}
.icon-demo-css3:before {
    content: "\eae1"
}
.icon-demo-chrome:before {
    content: "\eae3"
}
.icon-demo-firefox:before {
    content: "\eae6"
}
.icon-demo-IE:before {
    content: "\eae7"
}
.icon-demo-opera:before {
    content: "\eae8"
}
.icon-demo-safari:before {
    content: "\eae9"
}
body {
    font-family: arial;
    font-size: 18px
}
.demo_wrapper {
    background-color: #fff;
    box-shadow: 0 0 10px 4px #d1d1d1;
    min-width: 100px;
    padding: 30px 15px
}
.demo_container {
    padding: 0 20px;
    margin: 0 auto;
    min-width: 100px;
    max-width: 1200px;
    position: relative;
    border-bottom: 1px solid #eee
}
.demo_container:last-of-type {
    border-bottom: none
}
.demo_container:after {
    content: "";
    display: block;
    clear: both
}
.demo_container_item {
    display: inline-block;
    width: 45%;
    text-align: center;
    padding: 1%;
    line-height: 25px;
    vertical-align: top
}
.demo_container_columns3 .demo_container_item {
    width: 30%;
    margin: 0 5px 20px
}
.demo_content {
    padding: 50px 0;
    text-align: center
}
.demo_title {
    font-family: verdana;
    font-size: 35px;
    color: #000;
    font-weight: 400;
    margin-bottom: 45px;
    text-align: center
}
.demo_title_middle {
    text-align: left;
    font-size: 22px;
    margin-bottom: 30px
}
.demo_title_small {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px
}
a {
    text-decoration: none;
    -webkit-transition: color .8s ease-out 0s;
    transition: color .8s ease-out 0s
}
.demo_link {
    color: #36bae2
}
.demo_link:hover {
    color: #5bafc8
}
.demo_img_post {
    height: auto;
    max-width: 100%
}
.demo_button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    background: #fad027;
    -webkit-transition: background .7s ease-in 0s;
    transition: background .7s ease-in 0s
}
.demo_button:hover {
    color: #fff;
    background: #e6bf23
}
.demo_button:active {
    top: 1px;
    box-shadow: 1px 3px 4px #b99815 inset
}
.demo_logo {
    float: left;
    font-family: arial;
    font-weight: 400;
    font-size: 30px;
    color: #000
}
.demo_logo_item {
    color: #36bae2
}
.demo_menu {
    float: right
}
.demo_menu_link {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    -webkit-transition: color .4s ease-in 0s;
    transition: color .4s ease-in 0s
}
.demo_menu_link:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin-top: 5px;
    background-color: #36bae2;
    -webkit-transition: width .7s ease-in 0s;
    transition: width .7s ease-in 0s
}
.demo_menu_link:hover:after,
.demo_menu_link_active:after {
    width: 100%
}
.demo_menu_link:hover,
.demo_menu_link_active {
    color: #36bae2
}
.demo_menu_link_active:hover {
    color: #5bafc8
}
.demo_menu_link_active:after {
    background-color: #5bafc8
}
.demo_examples .demo_button {
    display: block;
    width: 200px;
    margin: 15px auto 0
}
.browser {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 0 20px 15px
}
.browser .demo_name_browser {
    margin-top: 15px;
    font-family: verdana;
    font-size: 14px
}
.browser:before {
    color: #edc31c;
    font-size: 50px
}
.demo_stas_project {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 0 15px;
    text-align: center;
    -webkit-transition-property: box-shadow, width;
    transition-property: box-shadow, width;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}
.demo_stas_project:hover {
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.25)
}
.demo_stas_project_js {
    background-color: #40c95d
}
.demo_stas_project_css {
    background-color: #36bae2
}
.demo_stas_project_html {
    background-color: #d7d93f
}
.demo_stas_project_item {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateZ(0) translate(-50%, -50%);
    -ms-transform: translateZ(0) translate(-50%, -50%);
    transform: translateZ(0) translate(-50%, -50%)
}
.demo_footer {
    min-width: 100px;
    padding: 30px 0;
    background-color: #3c3838;
    font-size: 15px;
    color: #fefefe
}
.demo_footer .demo_footer_left_column {
    float: left
}
.demo_footer .demo_footer_right_column {
    float: right
}
.demo_footer:after {
    content: "";
    display: block;
    clear: both
}
.demo_footer .stas {
    color: #fefefe
}
.demo_footer .stas:hover {
    color: #ddd
}
@media screen and (max-width: 800px) {
    .demo_title {
        font-size: 30px
    }
}
@media screen and (max-width: 768px) {
    .demo_container_item,
    .demo_container_columns3 .demo_container_item {
        width: 45%;
        margin: 0 1% 20px
    }
}
@media screen and (max-width: 700px) {
    .demo_footer .demo_footer_left_column,
    .demo_footer .demo_footer_right_column {
        float: none;
        width: 100%;
        text-align: center;
        margin: 5px 0
    }
}
@media screen and (max-width: 640px) {
    .demo_logo {
        float: none;
        font-size: 24px;
        text-align: center
    }
    .demo_menu {
        float: none;
        text-align: center;
        margin-top: 15px
    }
    .demo_container_columns3 .demo_container_item,
    .demo_stas_project {
        width: 90%;
        margin: 0 0 15px
    }
}
@media screen and (max-width: 480px) {
    .demo_title {
        font-size: 25px
    }
    .demo_container_item {
        width: 90%;
        margin: 0 0 15px
    }
}
